// app global css in SCSS form
@font-face {
    font-family: poppins-regular;
    src: url(./fonts/Poppins-Regular.ttf);
}

*{
    font-family: 'poppins-regular';
}

// remove colors and style from router-link
a, a:link, a:visited, a:active, a:hover {
    color: white;
    text-decoration: none;
}